<div class="container1">
  <div class="c1sec1">
    <input type="checkbox" (click)="showAge()" /><label>Show Age</label>
    <input
      type="radio"
      name="fav_color"
      value="Aqua"
      #color1
      (click)="getColor(color1.value)"
    />
    <label>Color1</label>

    <input
      type="radio"
      name="fav_color"
      value="Yellow"
      #color2
      (click)="getColor(color2.value)"
    />
    <label>Color2</label>
    <input
      type="radio"
      name="fav_color"
      value="blue"
      #color3
      (click)="getColor(color3.value)"
    />
    <label>Color3</label>
  </div>
  <div class="c1sec2">
    <input class="search_bar" type="text" (input)="getSearch($event)" />
    <button class="search_btn" (click)="filterResults(searchInput)">
      Search
    </button>
  </div>
</div>

<div class="container2" [ngStyle]="{ 'background-color': color }">
  <div class="card" *ngFor="let user of users">
    <div class="user-bio">
      <label>Name:</label>
      <label>User id:</label>
      <label *ngIf="ageHidden">age:</label>
    </div>
    <div class="user-info">
      <span class="user-name">{{ user.user_name }}</span>
      <span class="user-id">{{ user.user_id }}</span>
      <span class="age" *ngIf="ageHidden">{{ user.age }}</span>
    </div>
  </div>
</div>
